---
layout: default
top: true
---

<div class="mdl-grid">
  {% for post in site.posts limit: 1 %}
    {% include post.html title=post.title author=post.author date=post.date path=post.path url=post.url content=post.content %}
  {% endfor %}
</div>

<div class="posts pager">
  <nav class="mdl-cell mdl-cell--12-col">
    <a href="/archive.html" class="mdl-color-text--grey-700">
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--icon mdl-color--white">
        <i class="material-icons">arrow_back</i>
      </button>
      More
    </a>
  </nav>
</div>
