---
layout: default
top: true
---

<div class="container" style="margin-top: 20px">
  <div class="list-group">
    {% for post in paginator.posts %}
      <a href="{{ post.url }}" class="list-group-item">
        <h4 class="list-group-item-heading">
          {{ post.title }}
          <span class="badge pull-right"><i class="fa fa-clock-o fa-fw"></i> {{ post.date | date: '%Y-%m-%d %H:%M' }}</span>
        </h4>
        <p class="list-group-item-text">
          {{ post.content | strip_html | strip_newlines | truncate: 140 }}
        </p>
      </a>
    {% endfor %}
  </div>
  {% if paginator.previous_page or paginator.next_page %}
    <nav>
      <ul class="pager">
        {% if paginator.next_page %}
          <li class="previous">
            <a href="{{ paginator.next_page_path }}" class="text-left">
              <i class="fa fa-arrow-left fa-fw"></i>
              Previous
            </a>
          </li>
        {% endif %}
        {% if paginator.previous_page %}
          <li class="next">
            <a href="{{ paginator.previous_page_path }}" class="text-right">
              Next
              <i class="fa fa-arrow-right fa-fw"></i>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
</div>
