<footer class="footer">
  <div class="container">
    <p class="text-muted pull-left">
      <i class="fa fa-copyright fa-fw"></i>
      {{ site.time | date: '%Y' }}
      {{ site.title }}
    </p>
    <p class="text-muted pull-right">
      {% for service in site.data.profile.social_accounts %}
        <a href="{{ service.href }}">
          <i class="fa {{ service.icon }} fa-lg fa-fw"></i>
        </a>
      {% endfor %}

      <a href="/feed.xml">
        <i class="fa fa-rss-square fa-lg fa-fw"></i>
      </a>
    </p>
  </div>
</footer>
