<footer class="footer">
  <div class="container">
    <p class="text-muted pull-left">
      <i class="fa fa-copyright fa-fw"></i>
      {% assign since-year = site.posts[-1].date | date:'%Y' %}
      {% assign this-year = site.time | date:'%Y' %}

      {% unless this-year == since-year %}{{ since-year }} - {% endunless%}{{ this-year }}
      {{ site.title }}
    </p>
    <p class="text-muted pull-right">
      <a href="{{ site.baseurl }}/feed.xml">
        <i class="fa fa-rss-square fa-lg fa-fw"></i>
      </a>
    </p>
  </div>
</footer>
