<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">

    <!-- Title -->
    <span class="mdl-layout-title">
      <a href="/" class="navbar-title">
        {{ site.title }}
      </a>
    </span>

    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>

    <!-- Navigation. We hide it in small screens. -->
    <nav class="mdl-navigation mdl-cell--hide-phone">
      <a class="mdl-navigation__link" href="{{ site.github.root }}/{{ site.github.repo }}/issues/new?title=%5BAsk%20me%5D">
        <i class="material-icons">question_answer</i>
        Ask
      </a>
      <a class="mdl-navigation__link" href="/archive.html">
        <i class="material-icons">folder</i>
        Archive
      </a>
    </nav>

  </div>
</header>

<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">{{ site.title }}</span>
  <nav class="mdl-navigation">

    <a class="mdl-navigation__link" href="{{ site.github.root }}/{{ site.github.repo }}/issues/new?title=%5BAsk%20me%5D">
      <i class="material-icons">question_answer</i>
      Ask
    </a>

    <a class="mdl-navigation__link" href="/archive.html">
      <i class="material-icons">folder</i>
      Archive
    </a>

  </nav>
</div>
