<div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col posts">
  <article>

      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text">{{ include.title }}</h1>
      </div>

      <div class="mdl-card__actions" style="border-bottom: 1px solid rgba(0,0,0,.1)">
        <span style="padding-left: 3px;">
          <i class="material-icons" style="vertical-align: middle">info_outline</i>
          <small>
            {% if include.author %}{{ include.author }}{% else %}{{ site.author }}{% endif %}
            が
            {{ include.date | date: '%Y/%m/%d' }}
            に投稿
          </small>
        </span>
      </div>

      <div id="action-menu" class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">more_vert</i>
        </button>
      </div>

      <ul for="action-menu" class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect">
        <a href="https://twitter.com/intent/tweet?text={{ include.title | uri_escape }}%20%7C%20{{ site.title }}&url={{ site.url }}{{ include.url }}&via={{ site.social.twitter }}" class="mdl-menu__item mdl-color-text--grey-700" data-count="none" onClick="">
          <i class="fa fa-twitter" style="font-size: 24px; padding-right: 10px;"></i>
          ツイートする
        </a>
        <a href="{{ site.github.root }}/{{ site.github.repo }}/edit/master/{{ include.path }}" class="mdl-menu__item mdl-color-text--grey-700">
          <i class="material-icons">edit</i>
          編集リクエストを作成する
        </a>
        <a href="{{ site.github.root }}/{{ site.github.repo }}/issues/new?title=%E3%80%8C{{ include.path | uri_escape }}%E3%80%8D%E3%81%AB%E3%81%A4%E3%81%84%E3%81%A6" class="mdl-menu__item mdl-color-text--grey-700">
          <i class="material-icons">feedback</i>
          問題点を通報する
        </a>
        <a href="{{ site.github.root }}/{{ site.github.repo }}/commits/master/{{ include.path }}" class="mdl-menu__item mdl-color-text--grey-700">
          <i class="material-icons">history</i>
          編集履歴を見る
        </a>
      </ul>

      <div class="article-main">

        {% for line in include.content %}
          {{ line | markdownify }}
        {% endfor %}

        <script>hljs.initHighlightingOnLoad();</script>
      </div>

  </article>
</div>
