// inspired from angels-ladder
// angels-ladder: https://github.com/tanksuzuki/angels-ladder

$article-accent-color: $primary;
$article-main-color: #666;

article {
  font-size: 14px;
  color: $article-main-color;
  letter-spacing: 1px;
  line-height: 1.8em;
  word-break: break-word;
}

.article-header {
  border-left: 4px solid $article-accent-color;
  padding: 5px 0 5px 10px;
  margin-bottom: 1.2em;
  h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
  }
  time {
    font-size: .8em;
    color: lighten($article-main-color, 20%);
  }
  date {
    font-size: .8em;
    color: lighten($article-main-color, 20%);
  }
}

.article-main {
  h2, h3 {
    font-weight: bold;
    line-height: inherit;
    letter-spacing: inherit;
  }

  h2 {
    font-size: 1.5em;
    margin-top: 2.5em;
    margin-bottom: 1.2em;
    padding-bottom: 0.5em;
    border-bottom: 2px solid lighten($article-main-color, 40%);
  }

  h3 {
    font-size: 1.17em;
    margin-top: 2em;
    margin-bottom: 0.6em;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  p {
    line-height: inherit;
    letter-spacing: inherit;
    margin: 1.4em 0;
  }

  a {
    color: $article-accent-color;
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }

  .ex_link:after {
    content: "\00a0\f08e";
    font: {
      size: 75%;
      style: normal !important;
    }
  }

  hr {
    height: 0;
    border: 0;
    margin: 0;
    padding: 0;
    border-top: 1px dashed lighten($article-main-color, 40%);
    text-align: center;
    margin: 2.5em 0;
    &:after {
      content: "\f0c4";
      display: inline-block;
      position: relative;
      top: -14px;
      padding: 0 3px;
      color: lighten($article-main-color, 40%);
      background-color: white;
    }
  }


  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: break-word;
    border-collapse: collapse;
    border-spacing: 0;
    th {
      font-weight: bold;
      background-color: lighten($article-main-color, 57%);
    }
    th, td {
      padding: 6px 13px;
      border: 1px solid lighten($article-main-color, 46%);
    }
  }

  blockquote {
    &:before, &:after {
      content: '';
      margin: 0;
    }

    cite {
      &:before { content: '― '}
      display: block;
      text-align: right;
    }

    p {
      font-style: normal
    }
    font-size: inherit;
    padding: 0 15px;
    color: lighten($article-main-color, 10%);
    border-left: 4px solid lighten($article-main-color, 40%);
  }

  ol {
    counter-reset: ol-counter;
    li {
      &:before {
        position: absolute;
        left: -1.3em;
        counter-increment: ol-counter;
        content: counter(ol-counter)'.';
        font-weight: bold;
      }
      list-style: none;
      position: relative;
    }
  }

  ul {
    li {
      &:before {
        display: block;
        content: "";
        position: absolute;
        border-right: 1px solid lighten($article-main-color, 15%);
        border-bottom: 1px solid lighten($article-main-color, 15%);
        left: -1.3em;
        top: .7em;
        width: 6px;
        height: 6px;
        transform: rotate(-45deg);
      }
      position: relative;
      list-style: none;
      margin: .4em 0;
    }
  }

  ol>li>p { margin: .4em 0; }

  pre {
    padding: 15px;
    border-radius: 3px;
    code {
      border: 0;
      margin: 0;
      padding: 0;
      white-space: pre-wrap;
      word-wrap: break-word;
      word-break: break-all;
      overflow-x: hidden;
      line-height: 1.45;
    }
  }

  @mixin monospace-highlight ($background, $border, $font) {
    font-size: 90%;
    margin: 0 .5em;
    padding: .2em .3em;
    background-color: $background;
    border: 1px solid $border;
    color: $font;
    border-radius: 3px;
  }

  code {
    @include monospace-highlight (lighten($article-main-color, 57%), lighten($article-main-color, 50%), $article-main-color);
  }

  kbd {
    @include monospace-highlight (darken($article-main-color, 30%), black, white)
  }
}
