// inspired from angels-ladder
// angels-ladder: https://github.com/tanksuzuki/angels-ladder

.summary {
  color: lighten($main-color, 10%);
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.8em;
  word-break: break-word;
  border-bottom: 1px solid lighten($main-color, 40%);

  padding-bottom: 2em;
  margin-bottom: 2em;

  a {
    color: $main-color;
    &:hover { color: $accent-color; }
  }

  h2 {
    font: {
      size: 1.3em;
      weight: bold;
    }
    margin: 0;
  }

  time {
    font-size: .8em;
    color: lighten($main-color, 20%);
  }

  p {
    font-size: .9em;
    line-height: inherit;
    letter-spacing: inherit;
    margin: .5em 0 0 0;
  }
}
