---
layout: default
---

<div class="mdl-grid">
  {% include post.html title=page.title author=page.author date=page.date path=page.path url=page.url content=page.content %}
</div>

{% if page.previous or page.next %}
  <div class="posts pager">
    <nav class="mdl-cell mdl-cell--12-col">
      {% if page.previous %}
        <a href="{{ page.previous.url }}" class="mdl-color-text--grey-700">
          <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--icon mdl-color--white">
            <i class="material-icons">arrow_back</i>
          </button>
          Previous
        </a>
      {% endif %}

      <div class="section-spacer"></div>

      {% if page.next %}
        <a href="{{ page.next.url }}" class="mdl-color-text--grey-700">
          Next
          <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--icon mdl-color--white">
            <i class="material-icons">arrow_forward</i>
          </button>
        </a>
      {% endif %}
    </nav>
  </div>
{% endif %}
